# Entornos virtuales
venv/
.venv/
.venv3.12/
env/

# Archivos compilados de Python
__pycache__/
*.py[cod]

# Archivos de entorno
.env

# Logs
*.log

# Configuración de IDEs
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db